body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#loginButton, #logoutButton {
    background-color: green;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

main {
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    overflow-x: hidden;
    display: block;
}

#assetsContainer > div {
    display: inline-block;
    width: calc(33.333% - 2rem);
    height: 300px;
    margin: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    text-align: center;
    padding-bottom: 1%;
    background-color: white;
}

#assetsContainer > div > img {
    width: 90%;
    height: 80%;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: -1%;
}

#assetsContainer > div > p {
    font-size: 1.2rem;
    font-weight:500;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Styles for the backdrop */
.asset-modal-backdrop, .login-modal-backdrop, .upload-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Faded background */
    backdrop-filter: blur(5px); /* Blur effect for supported browsers */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Higher than the content */
    display: none; /* Hidden by default */
}

/* Styles for the modal */
.modal {
    background: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden; /* In case the content overflows */
    position: relative;
    z-index: 20; /* Above the backdrop */
}

.loginModal{
    width: 40vw;
    height: 50vh;
}

.assetModal{
    width: 60vw;
    height: 80vh;
}

.modal > div {
    margin-left: 5%;
    width: 90%;
}

.modal > div > img{
    width: 100%;
    height: auto;
}

.modal > div > h4{
    margin-top: -2%;
    font-style: italic;
}

.modal > div > p{
    margin-top: -3%;
    font-family: 'Segoe UI';
}
/* Styles for the close button */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
}

/* Show/hide classes for the modal and backdrop */
.asset-modal-backdrop.show,
.asset-modal.show,
.login-modal-backdrop.show,
.login-modal.show,
.upload-modal-backdrop.show,
.upload-modal.show
{
    display: flex;
}

/* Style the input fields and submit button */
input[type=email], input[type=password], input[type=text] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
  /* Set a style for all buttons */
button.btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 98%;
    font-size: 1.2rem;
}

button.cancel-btn {
    background-color: rgb(221, 16, 30);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 98%;
    font-size: 1.2rem;
}
  
  
button.btn:hover {
    opacity: 0.8;
}
  
/* Add padding to container elements */
.form-group {
    padding: 6px;
}

#loginModal > h2, #assetUploadModal > h2{
    text-align: center;
    text-decoration: underline;
}

.register-link{
    margin-top: 2px;
    text-align: center;
}

.icons{
    position: relative;
    display: block;
    margin-bottom: -20%;
    float: right;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
}

.icons > button{
    display: none;
    border-radius: 50%;
    border: 1px solid gray;
    margin-left: 2%;
    font-size: 1.2rem;
    opacity: 1;
    padding: 5px;
}

.edit-asset .delete-asset {
    display: none;
    position: absolute;
}

.asset:hover .edit-asset,
.asset:hover .delete-asset {
    display: inline-block;
    cursor: pointer;
}

/*==================ADMIN HEADER DESIGN CODE=======================*/
#adminHeader nav {
    overflow: hidden;
    margin-left: -50%;
}

#adminHeader nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#adminHeader nav ul li {
    float: left;
}

#adminHeader nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

#adminHeader nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

#adminHeader nav:after {
    content: "";
    display: table;
    clear: both;
}

#adminLogoutButton {
    float: right;
    border: none;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    background-color: green;
    cursor: pointer;
    font-size: 1.1rem;
}